<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%= data.article.seo_description%>">
  <meta name="keywords" content="<%= data.article.seo_keywords%>">
  <meta name="author" content="<%= data.article.author%>">
  <link rel="icon" href="/common/img/favicon.ico">
  <title><%= data.article.name%> | lnyx blog | 大卫的个人博客</title>
  <link href="/module/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/blog/css/blog.css" rel="stylesheet">
  <link href="/module/pace/themes/white/pace-theme-flash.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script src="/module/pace/pace.min.js"></script>
</head>

<body>
<% include common/nav.ejs %>

<div class="container main">
  <div class="row">
    <% include common/sidebar.ejs%>

    <div class="col-sm-9">
      <div class="post">
        <div class="post-title">
          <%=data.article.name%>
        </div>
        <div class="post-meta">
          <span class="author">by <%=data.article.author%></span>
          <i class="glyphicon glyphicon-time"></i>
          <%=data.article.create_at.substring(0,10)%>
          <% if(data.article.is_show_comment){%>
          <a href="#comments" class="comment-anchor">
            <i class="glyphicon glyphicon-comment"></i>
          </a>
          <a href="#disqus_thread" title="Show Comments">
          </a>
          <%}%>
        </div>
      <% if(data.article.is_show_cover==1){%>
      <div class="post-image">
        <img src="<%-data.article.cover%>" alt="post image"/>
      </div>
      <%}%>

        <div class="post-content">
           <%-data.article.content%>
        </div>
        <% if(data.article.is_show_comment){%>
      <div class="post-comments">
        <a id="comments"></a>
        <h4>Comments</h4>
        <div id="disqus_thread"></div>
        <script>
          /**
           * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
           * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
           */

           var disqus_config = function () {
//           this.page.url = 'http://localhost:3000/article/20160610164227734510'; // Replace PAGE_URL with your page's canonical URL variable
           this.page.identifier = '<%=data.article.id%>'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
           };

          (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//lnyx.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
      </div>
        <%}%>
      </div>
    </div>
  </div>
</div>

<% include common/footer.ejs%>


<% include common/script.ejs%>
<% if(data.article.is_show_comment){%>
<script id="dsq-count-scr" src="//lnyx.disqus.com/count.js" async></script>
<%}%>

</body>
</html>
