<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/common/img/favicon.ico">
  <title><%= data.category_name ? data.category_name+' | ':''%>lnyx blog | 大卫的个人博客</title>
  <link href="/module/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/blog/css/blog.css" rel="stylesheet">
  <link href="/module/pace/themes/blue/pace-theme-flash.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script src="/module/pace/pace.min.js"></script>
</head>

<body>
<% include common/nav.ejs %>

<div class="container main">
  <div class="row">
    <% include common/sidebar.ejs%>

    <div class="col-sm-9 articles">
      <div class="row">
        <%
        if(data.articles && data.articles.length > 0){
          data.articles.forEach(function (article) {
        %>
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="article-box">
          <a href="/article/<%=article.seo_url%>">
            <div class="article-cover" style="background-image: url(<%=article.cover%>)">
            </div>
          </a>
          <div class="article-tips">
            <div class="article-category"><a href="/category/<%=data.categorysPair[article.article_category_id]%>"><%=data.categorysPair[article.article_category_id]%></a></div>
            <div class="article-date"><%=article.create_at.substring(0,10)%></div>
          </div>
          <div class="article-title"><a href="/article/<%=article.seo_url%>"><%=article.name%></a>
          </div>
          <div class="article-brief"><%=article.brief%></div>
          </div>
        </div>
        <%
          })
        }else{
        %>
        <div class="not-found">
          未找到相关记录!
        </div>
        <%}%>

      </div>


    </div>
  </div>
</div>

<% include common/footer.ejs%>


<% include common/script.ejs%>

</body>
</html>
