<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <% include common/head.ejs %>
    <link rel="stylesheet" href="/module/md-editor/css/md-editor.css"/>
    <link rel="stylesheet" href="/module/highlight/styles/github.css">
</head>

<body>
<% include common/nav.ejs %>
<div class="container">
    <ol class="breadcrumb pull-right">
        <li><a href="/admin">主页</a></li>
        <li><a href="/admin/articles">文章列表</a></li>
        <li class="active">
            <% if(data.id == 0){ %>
            新建
            <% }else{ %>
            编辑
            <% } %>
        </li>
    </ol>
</div>
<div class="container main">
    <div class="row">
        <form id="dataForm">
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="form-group">
                            <label for="name" class="control-label">标题</label>

                            <input type="text" class="form-control" id="name" name="name"
                                   placeholder="name">
                        </div>
                        <div class="form-group">
                            <label for="seo_url" class="control-label">自定义访问路径 <span class="icon-link"></span></label>

                            <input type="text" class="form-control" id="seo_url" name="seo_url" placeholder="http://lnyx.club/blog/seo_url">
                        </div>

                        <div class="form-group">
                            <% include mdEditor.html%>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">

                            <div class="form-group">
                                <button type="button" class="btn btn-primary btn-lg btn-block" onclick="o.save()"> 发 布 </button>
                            </div>
                            <input id="id" name="id" type="hidden"/>
                            <input id="brief" name="brief" type="hidden"/>

                            <div class="form-group">
                                <label for="article_category_id" class="control-label">分类</label>

                                <select name="article_category_id" id="article_category_id" class="form-control">
                                    <%
                                    if(categorys){
                                        categorys.forEach(function (c) {
                                    %>
                                    <option value="<%=c.id%>"><%=c.name%></option>
                                    <%
                                        })
                                    }
                                    %>
                                </select>

                            </div>
                            <div class="form-group">
                                <label for="author" class="control-label">作者</label>

                                <input type="text" class="form-control" id="author" name="author"
                                       placeholder="author" value="<%=user.name%>">
                            </div>

                            <div class="form-group">
                                <label for="cover" class="control-label">封面</label>

                                <input type="text" class="hidden" id="cover" name="cover">

                                <div class="upload-img-box">
                                    <div class="upload-operate">
                                        <div class="upload-tip-img"><span class="glyphicon glyphicon-picture"></span></div>
                                        <div class="upload-tip"><span class="">点击上传封面</span></div>
                                    </div>
                                    <img src="" class="upload-img hidden">
                                    <iframe id="imgFrame" name="imgFrame" class="hidden"></iframe>
                                </div>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input id="is_show_cover" name="is_show_cover" type="checkbox" value="1"> 在正文中显示封面
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input id="is_show_comment" name="is_show_comment" type="checkbox" value="1"> 显示评论
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="tag" class="control-label">标签</label>

                                <input type="text" class="form-control" id="tag" name="tag"
                                       placeholder="tag">
                            </div>

                            <div class="form-group">
                                <label for="seo_title" class="control-label">SEO标题</label>

                                <input type="text" class="form-control" id="seo_title" name="seo_title"
                                       placeholder="seo_title">
                            </div>
                            <div class="form-group">
                                <label for="seo_keywords" class="control-label">SEO关键词</label>

                                <input type="text" class="form-control" id="seo_keywords" name="seo_keywords"
                                       placeholder="seo_keywords">
                            </div>
                            <div class="form-group">
                                <label for="seo_description" class="control-label">SEO描述</label>

                                <input type="text" class="form-control" id="seo_description" name="seo_description"
                                       placeholder="seo_description">
                            </div>

                            <div class="form-group">
                                <label for="create_at" class="control-label">创建日期</label>

                                <p class="form-control-static">
                                    <% if(data.create_at){ %>
                                    <%= data.create_at %>
                                    <% } %>
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="create_by" class="control-label">创建人</label>

                                <p class="form-control-static">
                                    <% if(data.create_by){ %>
                                    <%= data.create_by %>
                                    <% } %>
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="update_at" class="control-label">更新日期</label>

                                <p class="form-control-static">
                                    <% if(data.update_at){ %>
                                    <%= data.update_at %>
                                    <% } %>
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="update_by" class="control-label">更新人</label>

                                <p class="form-control-static">
                                    <% if(data.update_by){ %>
                                    <%= data.update_by %>
                                    <% } %>
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="delete_at" class="control-label">删除日期</label>

                                <p class="form-control-static">
                                    <% if(data.delete_at){ %>
                                    <%= data.delete_at %>
                                    <% } %>
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="delete_by" class="control-label">删除人</label>

                                <p class="form-control-static">
                                    <% if(data.delete_by){ %>
                                    <%= data.delete_by %>
                                    <% } %>
                                </p>
                            </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <form id="imgForm" name="imgForm" action="/admin/upload" target="imgFrame" method="post" enctype="multipart/form-data">
        <input class="upload-file hidden" name="file" type="file" accept="image/*">
        <input type="hidden" name="callback" value="o.uploadCallback">
    </form>
    <form id="mdUploadForm" name="mdUploadForm" action="/admin/upload" target="mdUploadFrame" method="post" enctype="multipart/form-data">
        <input class="hidden" id="mdUploadFile" name="file" type="file">
        <input id="mdUploadType" name="type" type="hidden">
        <input name="callback" type="hidden" value="mdEditor.uploadCallback">
    </form>

</div>
<% include common/script.ejs %>
<script>
    var data = <%- JSON.stringify(data) %>

</script>
<script src="/module/md-editor/js/marked.min.js"></script>
<script src="/module/md-editor/js/md-editor.js"></script>
<script src="/admin/js/article.js"></script>
<script src="/module/highlight/highlight.pack.js"></script>
</body>
</html>