<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <% include common/head.ejs %>
</head>

<body>
<% include common/nav.ejs %>
    <div class="container">
        <ol class="breadcrumb pull-right">
            <li><a href="/admin">主页</a></li>
            <li><a href="/admin/articles">文章列表</a></li>
            <li class="active">
                <% if(data.id == 0){ %>
                新建
                <% }else{ %>
                编辑
                <% } %>
            </li>
        </ol>
    </div>
    <div class="container main">

        <div class="panel panel-default">
            <div class="panel-heading">
                <% if(data.id == 0 ){ %>
                新建
                <% }else{ %>
                编号：<%= data.id %>
                <% } %>
            </div>
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab-basic" data-toggle="tab">Home</a></li>
                    <% if(data.id != 0) { %>
                    <li><a href="#tab-operate" data-toggle="tab">操作记录</a></li>
                    <% } %>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab-basic" style="padding: 15px 5px">

                        <form class="form-horizontal">
                            <input id="id" name="id" type="hidden"/>
                            <div class="form-group col-sm-6">
                                <label for="name" class="col-sm-3 control-label">名称</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="name" name="name"
                                           placeholder="name">
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="article_category_id" class="col-sm-3 control-label">分类</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="article_category_id" name="article_category_id"
                                           placeholder="article_category_id">
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="author" class="col-sm-3 control-label">作者</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="author" name="author"
                                           placeholder="author">
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="content" class="col-sm-3 control-label">内容</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="content" name="content"
                                           placeholder="content">
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="cover" class="col-sm-3 control-label">封面</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="cover" name="cover"
                                           placeholder="cover">
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="is_show_cover" class="col-sm-3 control-label">是否显示封面</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="is_show_cover" name="is_show_cover"
                                           placeholder="phone">
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="tag" class="col-sm-3 control-label">标签</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="tag" name="tag"
                                           placeholder="tag">
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="seo_url" class="col-sm-3 control-label">SEO链接</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="seo_url" name="seo_url" placeholder="seo_url">
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="seo_title" class="col-sm-3 control-label">SEO标题</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="seo_title" name="seo_title"
                                           placeholder="seo_title">
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="seo_keywords" class="col-sm-3 control-label">SEO关键词</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="seo_keywords" name="seo_keywords"
                                           placeholder="seo_keywords">
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="seo_description" class="col-sm-3 control-label">SEO描述</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="seo_description" name="seo_description"
                                           placeholder="seo_description">
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <div class="form-group col-sm-6">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="button" class="btn btn-primary" onclick="o.save()"> 保存</button>
                                    <button type="reset" class="btn btn-default"> 重置</button>
                                    <div class="alert alert-success" hidden></div>
                                    <div class="alert alert-warning" hidden></div>
                                    <div class="alert alert-danger" hidden></div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <% if(data.id != 0) { %>
                    <div class="tab-pane" id="tab-operate" style="padding: 15px 5px">

                        <form class="form-horizontal">
                            <div class="form-group col-sm-6">
                                <label for="create_at" class="col-sm-3 control-label">创建日期</label>

                                <div class="col-sm-9">
                                    <p class="form-control-static">
                                        <% if(data.create_at){ %>
                                        <%= data.create_at %>
                                        <% } %>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="create_by" class="col-sm-3 control-label">创建人</label>

                                <div class="col-sm-9">
                                    <p class="form-control-static">
                                        <% if(data.create_by){ %>
                                        <%= data.create_by %>
                                        <% } %>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="update_at" class="col-sm-3 control-label">更新日期</label>

                                <div class="col-sm-9">
                                    <p class="form-control-static">
                                        <% if(data.update_at){ %>
                                        <%= data.update_at %>
                                        <% } %>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="update_by" class="col-sm-3 control-label">更新人</label>

                                <div class="col-sm-9">
                                    <p class="form-control-static">
                                        <% if(data.update_by){ %>
                                        <%= data.update_by %>
                                        <% } %>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="delete_at" class="col-sm-3 control-label">删除日期</label>

                                <div class="col-sm-9">
                                    <p class="form-control-static">
                                        <% if(data.delete_at){ %>
                                        <%= data.delete_at %>
                                        <% } %>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="delete_by" class="col-sm-3 control-label">删除人</label>

                                <div class="col-sm-9">
                                    <p class="form-control-static">
                                        <% if(data.delete_by){ %>
                                        <%= data.delete_by %>
                                        <% } %>
                                    </p>
                                </div>
                            </div>
                        </form>


                    </div>
                    <% } %>
                </div>

            </div>
        </div>
    </div>
<% include common/script.ejs %>
<script>
    var data = <%-JSON.stringify(data) %>
</script>
<script src="/admin/js/article.js"></script>
</body>
</html>