<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <% include common/head.ejs %>
</head>

<body>
<% include common/nav.ejs %>
<div class="container">
    <ol class="breadcrumb pull-right">
        <li><a href="/admin">主页</a></li>
        <li><a href="/admin/articles">文章列表</a></li>
        <li class="active">
            <% if(data.id == 0){ %>
            新建
            <% }else{ %>
            编辑
            <% } %>
        </li>
    </ol>
</div>
<div class="container main">
    <div class="row">
        <form>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">

                        <div class="form-group">
                            <!--<button type="reset" class="btn btn-default btn-lg"> 预 览 </button>-->
                            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="o.save()"> 发 布 </button>
                            <!--<div class="btn-group btn-group-lg ">-->
                                <!--<button type="button" class="btn btn-primary" onclick="o.save()"> 发布 </button>-->
                                <!--<button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-calendar"></span></button>-->
                            <!--</div>-->
                            <!--<div class="alert alert-success" hidden></div>-->
                            <!--<div class="alert alert-warning" hidden></div>-->
                            <!--<div class="alert alert-danger" hidden></div>-->
                        </div>
                        <input id="id" name="id" type="hidden"/>

                        <div class="form-group">
                            <label for="article_category_id" class="control-label">分类</label>

                            <select name="article_category_id" id="article_category_id" class="form-control">
                                <%
                                if(categorys){
                                    categorys.forEach(function (c) {
                                %>
                                <option value="<%=c.id%>"><%=c.name%></option>
                                <%
                                    })
                                }
                                %>
                            </select>

                        </div>
                        <div class="form-group">
                            <label for="author" class="control-label">作者</label>

                            <input type="text" class="form-control" id="author" name="author"
                                   placeholder="author" value="<%=user.name%>">
                        </div>

                        <div class="form-group">
                            <label for="cover" class="control-label">封面</label>

                            <!--<input type="text" class="form-control" id="cover" name="cover"-->
                                   <!--placeholder="cover">-->

                            <div class="upload-img-box">
                                <div class="upload-operate">
                                    <div class="upload-tip-img"><span class="glyphicon glyphicon-picture"></span></div>
                                    <div class="upload-tip"><span class="">点击上传封面</span></div>
                                </div>
                                <input class="upload-file" type="file" accept="image/*">
                                <!--<img src="https://img.alicdn.com/tps/TB1QzViMpXXXXXZXXXXXXXXXXXX-900-500.jpg" class="upload-img">-->
                                <iframe src=""></iframe>
                            </div>
                            <!--<img src="https://img.alicdn.com/tps/TB1QzViMpXXXXXZXXXXXXXXXXXX-900-500.jpg" alt="..." class="img-thumbnail">-->



                        </div>
                        <div class="form-group">
                            <label for="is_show_cover" class="control-label">是否显示封面</label>

                            <input type="text" class="form-control" id="is_show_cover" name="is_show_cover"
                                   placeholder="is_show_cover">
                        </div>
                        <div class="form-group">
                            <label for="tag" class="control-label">标签</label>

                            <input type="text" class="form-control" id="tag" name="tag"
                                   placeholder="tag">
                        </div>
                        <div class="form-group">
                            <label for="seo_url" class="control-label">SEO链接</label>

                            <input type="text" class="form-control" id="seo_url" name="seo_url" placeholder="seo_url">
                        </div>
                        <div class="form-group">
                            <label for="seo_title" class="control-label">SEO标题</label>

                            <input type="text" class="form-control" id="seo_title" name="seo_title"
                                   placeholder="seo_title">
                        </div>
                        <div class="form-group">
                            <label for="seo_keywords" class="control-label">SEO关键词</label>

                            <input type="text" class="form-control" id="seo_keywords" name="seo_keywords"
                                   placeholder="seo_keywords">
                        </div>
                        <div class="form-group">
                            <label for="seo_description" class="control-label">SEO描述</label>

                            <input type="text" class="form-control" id="seo_description" name="seo_description"
                                   placeholder="seo_description">
                        </div>

                        <div class="form-group">
                            <label for="create_at" class="control-label">创建日期</label>

                            <p class="form-control-static">
                                <% if(data.create_at){ %>
                                <%= data.create_at %>
                                <% } %>
                            </p>
                        </div>
                        <div class="form-group">
                            <label for="create_by" class="control-label">创建人</label>

                            <p class="form-control-static">
                                <% if(data.create_by){ %>
                                <%= data.create_by %>
                                <% } %>
                            </p>
                        </div>
                        <div class="form-group">
                            <label for="update_at" class="control-label">更新日期</label>

                            <p class="form-control-static">
                                <% if(data.update_at){ %>
                                <%= data.update_at %>
                                <% } %>
                            </p>
                        </div>
                        <div class="form-group">
                            <label for="update_by" class="control-label">更新人</label>

                            <p class="form-control-static">
                                <% if(data.update_by){ %>
                                <%= data.update_by %>
                                <% } %>
                            </p>
                        </div>
                        <div class="form-group">
                            <label for="delete_at" class="control-label">删除日期</label>

                            <p class="form-control-static">
                                <% if(data.delete_at){ %>
                                <%= data.delete_at %>
                                <% } %>
                            </p>
                        </div>
                        <div class="form-group">
                            <label for="delete_by" class="control-label">删除人</label>

                            <p class="form-control-static">
                                <% if(data.delete_by){ %>
                                <%= data.delete_by %>
                                <% } %>
                            </p>
                        </div>




                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <!--<div class="panel-heading">-->

                <!--</div>-->
                <div class="panel-body">

                        <div class="form-group">
                            <label for="name" class="control-label">标题</label>

                            <input type="text" class="form-control" id="name" name="name"
                                   placeholder="name">
                        </div>
                        <div class="form-group">
                            <label for="content" class="control-label">内容</label>
                            <!--<textarea id="content" name="content">初始内容</textarea>-->
                            <!--<input type="text" class="form-control" id="content" name="content"-->
                                   <!--placeholder="name">-->
                            <script type="text/plain" id="content" name = "content">

                            </script>
                        </div>

                </div>
            </div>
        </div>
        </form>
    </div>


</div>
<% include common/script.ejs %>
<script>
    var data = <%- JSON.stringify(data) %>

</script>
<script src="/admin/js/article.js"></script>
<script type="text/javascript" charset="utf-8" src="/module/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/module/ueditor/ueditor.all.min.js"></script>
<script>
    var ue = UE.getEditor('content');
    ue.ready(function() {
        if(data.content){
            ue.setContent(data.content);
        }
    });

</script>
</body>
</html>