<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%= data.article.name%>">
  <meta name="author" content="<%= data.article.name%>">
  <link rel="icon" href="/common/img/favicon.ico">
  <title><%= data.article.name%> | lnyx blog | 大卫的个人博客</title>
  <link href="/module/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/home/css/article.css" rel="stylesheet">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
<% include common/nav.ejs %>

<div class="container main">
  <div class="row">
    <div class="col-sm-3 hidden-xs sidebar">
      <div class="sidebar-title">Search</div>

      <form action="//google.com/search" method="get" accept-charset="UTF-8" target="_blank">
        <div class="input-group">
          <input class="form-control" name="q" type="text">
          <input type="hidden" name="sitesearch" value="http://dawei.lv">
          <span class="input-group-btn">
              <button class="btn btn-primary" type="submit">Search</button>
          </span>
        </div>
      </form>
      <div class="sidebar-title">Recent Posts</div>
      <ul class="recent-posts">
        <% data.latestArticles.forEach(function (article) {
        %>
        <li><a href="/article/<%=article.seo_url%>"><%=article.name%></a></li>
        <%
        })%>
      </ul>
      <div class="sidebar-title">Categories</div>
      <ul class="categories">
        <% data.categorys.forEach(function (category) {
        %>
        <li><a href="/category/<%=category.id%>"><%=category.name%></a></li>
        <%
        })%>
      </ul>
      <div class="sidebar-title">Archive</div>
      <ul class="archive">
        <li><a href="#">January 2013</a></li>
        <li><a href="#">February 2013</a></li>
        <li><a href="#">March 2013</a></li>
        <li><a href="#">April 2013</a></li>
        <li><a href="#">May 2013</a></li>
      </ul>
    </div>

    <div class="col-sm-9 post">
        <div class="post-title">
          <%=data.article.name%>
        </div>
        <div class="post-info">
          <i class="glyphicon glyphicon-time"></i>
          <%=data.article.create_at%>
          <a href="#comments" title="Show Comments"><i class="glyphicon glyphicon-comment"></i>11</a>
        </div>
      <% if(data.article.is_show_cover==1){%>
      <div class="post-image">
        <img src="<%-data.article.cover%>" alt="post image"/>
      </div>
      <%}%>

        <div class="post-content">
           <%-data.article.content%>
        </div>
        <% if(data.article.is_show_comment){%>
      <div class="post-comments">
        <a id="comments"></a>
        <h4>Comments</h4>
        <div id="disqus_thread"></div>
        <script>
          /**
           * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
           * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
           */
          /*
           var disqus_config = function () {
           this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
           this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
           };
           */
          (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//lnyx.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
      </div>
        <%}%>

    </div>
  </div>
</div>

<% include common/footer.ejs%>


<% include common/script.ejs%>
<% if(data.article.is_show_comment){%>
<script id="dsq-count-scr" src="//lnyx.disqus.com/count.js" async></script>
<%}%>

</body>
</html>
