<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/common/img/favicon.ico">
  <title><%= data.category_name%> | lnyx blog | 大卫的个人博客</title>
  <link href="/module/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/home/css/article.css" rel="stylesheet">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
<nav class="navbar navbar-blog">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Lnyx Blog</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Blog <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Archive</a></li>
        <li><a href="#">Github</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container main">
  <div class="row">
    <div class="col-sm-3 hidden-xs sidebar">
      <div class="sidebar-title">Search our Blog</div>

      <form action="//google.com/search" method="get" accept-charset="UTF-8" target="_blank">
        <div class="input-group">
          <input class="form-control" name="q" type="text">
          <input type="hidden" name="sitesearch" value="http://dawei.lv">
          <span class="input-group-btn">
              <button class="btn btn-primary" type="submit">Search</button>
          </span>
        </div>
      </form>
      <div class="sidebar-title">Recent Posts</div>
      <ul class="recent-posts">
        <% data.latestArticles.forEach(function (article) {
        %>
        <li><a href="/article/<%=article.seo_url%>"><%=article.name%></a></li>
        <%
        })%>
      </ul>
      <div class="sidebar-title">Categories</div>
      <ul class="categories">
        <% data.categorys.forEach(function (category) {
        %>
        <li><a href="/category/<%=category.id%>"><%=category.name%></a></li>
        <%
        })%>
      </ul>
      <div class="sidebar-title">Archive</div>
      <ul class="archive">
        <li><a href="#">January 2013</a></li>
        <li><a href="#">February 2013</a></li>
        <li><a href="#">March 2013</a></li>
        <li><a href="#">April 2013</a></li>
        <li><a href="#">May 2013</a></li>
      </ul>
    </div>

    <div class="col-sm-9 articles">
      <div class="row">
        <div class="col-md-6 article-box">
            <div class="article-cover" style="background-image: url(http://localhost:3000/file/upload_9d6716ae8f7510c3ed15419b85b88a97.jpg)">
            </div>
            <div class="article-tips">
              <div class="article-category">移动开发</div>
              <div class="article-date">2016-05-19</div>
            </div>
            <div class="article-title">无线端的弹幕实现方案
            </div>
            <div class="article-brief">前段时间做了游戏的相关业务，其中弹幕相关的内容自成一块。弹幕已经不只是最初的视频弹幕了，战火已经烧到了评论区，烧到了手机淘宝的首页搜索结果。作为一种近几年迅速燃起的内容</div>
        </div>
        <div class="col-md-6 article-box">
          <div class="article-cover" style="background-image: url(http://localhost:3000/file/upload_9d6716ae8f7510c3ed15419b85b88a97.jpg)">
          </div>
          <div class="article-tips">
            <div class="article-category">移动开发</div>
            <div class="article-date">2016-05-19</div>
          </div>
          <div class="article-title">无线端的弹幕实现方案
          </div>
          <div class="article-brief">前段时间做了游戏的相关业务，其中弹幕相关的内容自成一块。弹幕已经不只是最初的视频弹幕了，战火已经烧到了评论区，烧到了手机淘宝的首页搜索结果。作为一种近几年迅速燃起的内容</div>
        </div>
        <div class="col-md-6 article-box">
          <div class="article-cover" style="background-image: url(http://localhost:3000/file/upload_9d6716ae8f7510c3ed15419b85b88a97.jpg)">
          </div>
          <div class="article-tips">
            <div class="article-category">移动开发</div>
            <div class="article-date">2016-05-19</div>
          </div>
          <div class="article-title">无线端的弹幕实现方案
          </div>
          <div class="article-brief">前段时间做了游戏的相关业务，其中弹幕相关的内容自成一块。弹幕已经不只是最初的视频弹幕了，战火已经烧到了评论区，烧到了手机淘宝的首页搜索结果。作为一种近几年迅速燃起的内容</div>
        </div>
        <div class="col-md-6 article-box">
          <div class="article-cover" style="background-image: url(http://localhost:3000/file/upload_9d6716ae8f7510c3ed15419b85b88a97.jpg)">
          </div>
          <div class="article-tips">
            <div class="article-category">移动开发</div>
            <div class="article-date">2016-05-19</div>
          </div>
          <div class="article-title">无线端的弹幕实现方案
          </div>
          <div class="article-brief">前段时间做了游戏的相关业务，其中弹幕相关的内容自成一块。弹幕已经不只是最初的视频弹幕了，战火已经烧到了评论区，烧到了手机淘宝的首页搜索结果。作为一种近几年迅速燃起的内容</div>
        </div>
      </div>


    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    Designed and built with all the love in the world by <a href="https://github.com/code4funlnyx/" target="_blank">@lnyx</a>.
  </div>
</div>


<script src="/module/jquery/jquery.min.js"></script>
<script src="/module/bootstrap/js/bootstrap.min.js"></script>
<script id="dsq-count-scr" src="//lnyx.disqus.com/count.js" async></script>

</body>
</html>
